p{
  font-family: NotoSansCJKjp-Regular;
  font-size: 16px;
  color: #6E6E6E;
  line-height: 28px;
}


h1{font-family: NotoSansCJKjp-Bold;
  font-size: 24px;
  color: #6E6E6E;
  line-height: 36px;
}

h2{
  font-family: NotoSansCJKjp-Bold;
  font-size: 20px;
  color: #6E6E6E;
  line-height: 30px;
}

.header{
  width:100%;
  height:122px;
  background-color:#6E6E6E;
  padding:0px;
  margin:0px;
}

.contentbox{
  margin-left: 18%;
  margin-right: 18%;
  position: relative;

}


.submit_button{
margin-left: 30%;
margin-right: 30%;
}

#submit_button{
width:330px;
height:48px;
background-color:#6E6E6E;
font-family: NotoSansCJKjp-Regular;
font-size: 16px;
color: #ffffff;
}

.textzone{
  margin-left: 8%;
  margin-right: 8%;
  width:84%;
  height:120px;
  background: #F5F5F5;
  border: 1px solid #BDBDBD;
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
}

.return{
  margin-top:60px;

}

.answer{
  margin-left: 8%;
  margin-right: 8%;
  height:120px;
  background: #F5F5F5;
  border: 1px solid #BDBDBD;
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
}
