{% extends "layout.html" %}
{% block content %}
<div class=contentbox>
  <div class=intro>
    <h1> こびっと書籍リスト </h1>
    <p>amazonのリンクから『書名』,著者,出版元(発行年月日)を出力します。
      改行区切りで複数冊指定できます。<br>
      概ねうまく行くようですが、amazon側のマークアップの微妙な差によって、ゴミがついてしまうことがあります<br>
    出力結果をよく確認してから使用してください。</p>
  </div>


    <form action="/" method="POST">
    <textarea name= {{ "amazonlink" }} class="textzone" placeholder="https://amazon.co.jp/xxxxx"></textarea>


  <div class=submit_button>
    <p><input id="submit_button" type="submit" name="submit" value="こびとさんにお願いする"></p>
  </div>


  <div class=return>
      <h2>こびっとのお仕事</h2>
      <div class=answer>
        {{us}}
      </div>
 </div>
</div>


{% endblock %}
