<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <title>{{ title }}</title>

  </head>
  <body>
    <div class=header>

    </div>


    {% block content %}
    {% endblock %}

  </body>
</html>
